//#icon_user {}
//#icon_favorite { color: transparent; stroke: var(--black-2) }
//#icon_compare { stroke: var(--black-2) }
//#icon_point { color: transparent; stroke: var(--black-1) }
//#icon_menu {}
//#icon_list_table { stroke: var(--black-1) }
//#icon_arrow2 { color: transparent; stroke: var(--black-1) }